<!DOCTYPE html>
<html>
  <head>  
    <title>Dice Roller</title>
  </head>
  <body>
    <h1>ROLLAH!</h1>
    <form id="dice" method="post">
      <label for="dice">Dice: </label><input type="text" name="dice" id="dice">
      <input type="submit" value="Roll Now">
    </form>
  </body>
</html>