<!DOCTYPE html>
<html>
  <head>  
    <title>Rollah: roll</title>
  </head>
  <body>
    <%= @roll.roll_string %>
    </p>
    Waiting for roll...
    </p>
    <form id="dice" method="post">
      <label for="dice">Dice: </label><input type="text" name="dice" id="dice">
      <input type="submit" name="roll_now" value="Roll Now">
    </form>
  </body>
</html>
