<!DOCTYPE html>
<html>
  <head>  
    <title>Dice Roller</title>
  </head>
  <body>
    Total: <%= @roll.total %>
    </p>
    <% @roll.results.each do |dice, value| %>
      <%= dice %>: <%= value %></br>
    <% end %>
    </p>
    Rolled on <%= @roll.rolled_on %>. <a href="/">Roll Another One!</a>
  </body>
</html>
