<!DOCTYPE html>
<html>
  <head>  
    <title>Rollah</title>
  </head>
  <body>
    <h1>Wrong Roll</h1>
    I cannot understand your roll ("<%= params[:dice] %>"?).</p>
    Try to use standard RPG dice conventions - something like "3d6+d4".
  </body>
</html>